#mod_rewrite starts here

RewriteEngine on

#does not apply to existing directories

RewriteCond %{REQUEST_FILENAME} !-d

#check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.html -f

#Here we actually show the page that has the  .html extension

RewriteRule ^(.*)$ $1.html [NC,L]